<h4><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></h4>

<div class="image2">
<img src="images/images (2).jpeg" width="270" height="170">
</div>

<h1><%=@client.name%>'s Appointments:</h1>
<% @client.appointments.each do |appointment| %>
<ul>
  <li><a href="/appointments/<%=appointment.id%>"><%= appointment.service_name %></a>: <%=appointment.date%></li>
</ul>
<% end %>
<br>
<a href="/appointments/new"><button><b>New Appointment</b></button></a><br><br>
<a href="/logout"><button><b>Logout</b></button></a>

